*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(171, 42, 68, 0.218);
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    list-style: none;
}
nav{
    margin: 10px 0px;
}
.navbar li{
    padding: 10px;
}
.navbar li a{
    color: rgb(13, 12, 12);
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.main-principal{
    width: 100%;
    background-image: url(../assets/banner-bodega-grid-avanzado.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
}

/* .section-principal h2{
    top: 5%;
    left: 10%;
    color: rgb(19, 19, 19);
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.238);
} */

.card-1{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: rgba(171, 42, 68, 0.218);
}


/* responsive */
@media(min-width:768px){
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .section-principal h2{
        left: 35%;
    }
}
@media(min-width:1024px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
}
